@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;800&display=swap");
@import "vars";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.wrapper {
  max-width: 1300px;
  margin: 50px auto 80px;
  padding: 0 7vw;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 3rem;
}

//HEADER

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  // background-color: $secondary-color;
  background: linear-gradient($secondary-color, #ffffff);
  padding: 20px 7vw;

  @media screen and (max-width: 992px) {
    justify-content: flex-start;
   }

   @media screen and (max-width: 767px) {
    padding: 20px 3vw;
  }
}

.logo {
  max-width: 150px;
  padding-right: 10px;

  @media screen and (max-width: 767px) {
    max-width: 90px;
  }

  &:focus-visible {
    outline: none;
  }

  &__img {
    width: 100%;
  }

  @media screen and (max-width: 992px) {
    margin-right: 5vw;
   }

   @media screen and (max-width: 767px) {
    margin-right: 3vw;
   }
}

.search {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  width: 300px;

  @media screen and (max-width: 767px) {
    margin-right: 5vw;
  }

  @media screen and (max-width: 992px) {
    margin-right: 5vw;
   }

  &__input {
    width: 100%;
    border: none;
    border-radius: 10px;
    // background-color: rgba(127, 195, 126, 0.8);
    background: linear-gradient(#7fc37e, #2c853e);
    color: white;
    outline: none;
    padding: 10px 10px 10px 40px;
    font-family: "Open Sans", sans-serif;

    &::placeholder {
      opacity: 0.5;
      color: white;
      font-family: "Open Sans", sans-serif;
      font-weight: 300;

      @media screen and (max-width: 992px) {
        font-size: 0.75rem;
       }
    
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(100%, -50%);
    color: white;
  }
}

.categories {

  &__title {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $primary-color;
    opacity: 0.8;

    @media screen and (max-width: 992px) {
      flex-direction: row;
      justify-content: flex-start;
      gap: 5px;
      padding: 15px;
      opacity: 1;
    }

    &:hover,
    &:focus-visible {
      outline: none;
      opacity: 1;
    }

    &-active {
      text-decoration: underline;
      opacity: 1;
    }
  }
}

// //Hamburger 
// .hamburger {
//   width: 40px;
//   height: 40px;
//   display: flex;
//   justify-content: space-around;
//   flex-flow: column nowrap;
// }

// .bar {
//   width: 50px;
//   height: 5px;
//   background-color: $primary-color;
//   border-radius: 10px;
// }

// MAIN

.container {
  margin: 50px 5vw 70px;
}

.splide__pagination__page {
  background: #96caa0 !important;

  &.is-active {
    background: #2c853e !important;
  }
}

.card {
  width: 400px;
  height: 400px;
  @include card;

  @media screen and (max-width: 767px) {
    width: 250px;
    height: 250px;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-mask-image: radial-gradient(ellipse 100% 90% at 50% 50%, black 40%, transparent 55%);
    mask-image: radial-gradient(ellipse 100% 90% at 50% 50%, black 40%, transparent 55%);

    &-recipe {
      z-index: -1;
        }
  }

  &__title {
    position: absolute;
    z-index: 10;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 0%);
    color: #548254;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(254, 254, 226, 0.8);
    padding: 0 10px;

    @media screen and (max-width: 767px) {
      font-size: 0.7rem;
    }
  }
}

//CUISINE

.cuisine-card {
  &__img {
    width: 100%;
    min-height: 250px;
    object-fit: cover;
    -webkit-mask-image: radial-gradient(ellipse 90% 90% at 50% 50%, black 40%, transparent 50%);
    mask-image: radial-gradient(ellipse 90% 90% at 50% 50%, black 40%, transparent 50%);
  }

  &__link {
    text-decoration: none;
    color: $primary-color;

    &:hover > .cuisine-card__title {
      color: $dark-green;
    }

    &:hover > .cuisine-card__title::before {
      transform: scaleX(1);
    }
  }

  &__title {
    text-align: center;
    padding: 1rem;
    font-weight: 500;
    transition: all 100ms ease-in-out;
    position: relative;

    &::before {
      background-image: $linear-gradient;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: 0% 100%;
      content: "";
      inset: 0;
      position: absolute;
      transform: scaleX(0);
      transition: transform 0.5s ease-in-out;
      z-index: -1;
    }
  }
}

button {
  border: 1px solid #2c853e;
  border-radius: 10px;
  // background-color: rgba(127, 195, 126, 0.8);
  background: $secondary-color;
  color: #2c853e;
  outline: none;
  padding: 10px 50px;
  font-family: "Open Sans", sans-serif;
  transition: all 200ms ease-in-out;

  &.active {
    background: linear-gradient(#7fc37e, #2c853e);
    color: $secondary-color;
  }

  &:hover,
  &:focus-visible {
    background: linear-gradient(#7fc37e, #2c853e);
    color: $secondary-color;
    box-shadow: 0 0 0 3px $primary-color;
  }
}

// RECIPE

.recipe {
  display: flex;
  justify-content: flex-start;
  gap: 80px;

  @media screen and (max-width: 992px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__info {
    flex-grow: 2;
  }

  &__title {
    @include title;
    font-size: 1.2rem;
    max-width: 280px;
    z-index: 1000;
    border-radius: 7px;
  }

  &__card {
    @include card;
    width: 450px;
    height: 450px;

    @media screen and (max-width: 767px) {
     margin: 0 3vw;
      width: 350px;
      height: 350px;
    }
    }
  

  &__btns {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
  }
}

.ingredients {
  list-style: none;
  line-height: 200%;

  &__item {
    display: flex;
    align-items: baseline;
    gap: 15px;
  }
}

.text {
  & > a {
    text-decoration: none;
    color: #2c853e;

    &:focus-visible,
    &:hover {
      outline: none;
      text-decoration: underline;
    }
  }
}

// FOOTER

.footer {
  height: 15vh;
  background: linear-gradient(#ffffff, $secondary-color);
}

.author_info {
  color: $dark-green;
  font-size: 0.85rem;
  padding: 40px 7vw 0;
  text-align: right;
}

// TYPOGRAPHY

.title {
  @include title;
  display: inline-block;
  font-size: 2rem;
  
  &-recipe {
    font-size: 1.2rem;
    max-width: 280px;
  }
}
